@model NewsAggregator.Models.NewsDetailModel

<div>
    <p>
        <h1>
            <strong>@Model.Article</strong>
        </h1>
    </p>
    @Html.Raw(Model.Body)
</div>

<p></p>
<div class="row ">
    <button id="comments-display-switcher" class="btn btn-primary col-sm-12" onclick="toggleComments('@Model.Id')">Display comments</button>
    <div class="container">
        <div id="comments-container" class="row">

        </div>
        <div id="comments-create-area" class="row">

        </div>
    </div>

</div>

@section Scripts
{
    <script src="~/js/comment.js"></script>
    @*<script src="~/js/comments-jquery.js"></script>*@
}
