@model IEnumerable<NewsAggregator.Models.NewsViewModel>

<h1 class="display-4">The best news!</h1>
<br/>
@foreach (var item in Model)
{
    <div class="card col-lg-12">
        <div class="card-body">
            <h5 class="card-title">@item.Article</h5>
            @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>*@
            <p class="card-text">@item.Body</p>
            <a class="card-link" asp-action="Detail" asp-route-id="@item.Id">Read Full</a>
        </div>
    </div>
}

