@{
    ViewData["Title"] = "Waiting of confirmation";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-12">
        <h2>Thank you for your registration! We were send a message on your email address and waiting your confirmation. You can login after use our link into message</h2>
        <a asp-controller="News" asp-action="Index" >Back to news</a>
    </div>
</div>